<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ysnows.quansu"
          xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true" >
        <activity android:name="com.quansu.ui.activity.ImageDragActivity"
                  android:theme="@style/translucent">
        </activity >
    </application >

</manifest >